flask==3.0.0
flask-socketio==5.3.6
python-socketio==5.11.0
websockets==12.0
asyncio
json5
paho-mqtt==1.6.1
requests==2.31.0
python-dotenv==1.0.9
gunicorn==21.2.0
eventlet==0.33.3
protobuf==4.25.1
gunicorn==21.2.0
eventlet==0.33.3
